<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat vs Dog Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <img src="{{ url_for('static', filename='upec.png') }}" alt="UPEC Logo">
    <h2>Cat vs Dog Classifier</h2>
        <p>Select an image and click Predict.</p>

        <input type="file" id="fileInput" accept="image/*">

        <button onclick="predict()">Predict</button>

        <div id="loader-container" class="loader-container" style="display:none;">
            <div class="underline-loader"></div>
            <p class="loader-text">Getting prediction…</p>
        </div>

        <div id="result"></div>
        <img id="preview">
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>